@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Kontakt";
}
<section>
    <p>
        <img src="~/images/email.png" alt="email" class="vlevo"/>
        Pokud mi chcete někdo sdělit napište mi na tento skvělý email pemi (zavináč) (tečka) cz nebo ne
    </p>
    <p class="centrovany">
          <iframe frameborder="0" scrolling="no" width="500" height="220"
            src="https://www.itnetwork.cz/service/mail_form.php?hash=5b5a8cdab989b5e4833544f23501910b">
        </iframe>
    </p>
</section>
