@{
    ViewData["Title"] = "O mně";
}
<section>
     <img src="~/images/moje.jpg" class="mojefoto" alt="Programátor PEMi" />
    <p>
        Vítejte na mém prvním webu, psát weby se teprve učím, ale myslím, že
        mi to docela jde.
    </p>
    <p>
        Jmenuji se Mirek Pecina, je mi 26 let. Kontaktovat mě můžete na
        <a asp-controller="Home" asp-action="Contact">kontaktní stránce</a>.
    </p>
    <p>Rád čtu a někdy (hlavně v létě) i sportuju.</p>
    <p>
        Mým hlavním koníčkem (a doufám že jednou i zaměstnáním) je
        <strong>programování</strong>!
    </p>

    <p class="tlacitko-odstavec">
        <a asp-controller="Home" asp-action="Reference" class="reference-tlacitko">Moje reference</a>
    </p>
       
</section>
  



