@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Reference";
}
<section>
    <p> Níže je ukázka mých dosavadních praci</p>

    <div id="reference">








    </div>
</section>
