@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Dovednosti";
}
<section>
    <table id="dovednosti">
        <tr class="centrovany">
            <td>
                <img src="~/images/html.png" alt="HTML"/>
            </td>
            <td>
                <img src = "~/images/java.png" alt="Java"/>
                </td>
                <td>
                    <img src="~/images/pascal.png" alt="Pascal"/>
                </td>
        </tr>
        <tr>
            
            <td>
                <h2>HTML</h2>
                <p>S HTML už mám praxi, v tvorbě této webové stránky </p>
            </td>
            <td>
                <h2>Java</h2>
                <p>Javu jsem zkoušel před mnoha lety, na kurzech v ITnetworku jsem viděl to prostředí alě dělal jsem C#</p>
            </td>
            <td>
                <h2>Pascal</h2>
                <p>Pascal je jednotka tlaku a programovací jazyk</p>
            </td>
            </tr>
    </table>
</section>
